#pregunta{
	border: 1px solid #999;
	margin: 3px;
	padding: 3px 3px 3px 20px;
}

 div.fila_estudiante:hover > .nombre_estudiante label{
	font-weight: bold;
}

.evaluacion_estudiante ul{
	list-style: none
}

.evaluacion_estudiante ul li{
	float:left;
	margin: 0 10px;
}
.evaluacion_estudiante textarea{
	width: 500px;
	height: 60px;
}
