{% extends "base_bootstrap.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
<style>
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}

{% block title %}
Coevaluaciones - Login
{%endblock%}

{% block nav-global %}
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div class="alert alert-warning alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>Combinación de nombre de usuario y contraseña errónea.</p>
</div>
{% endif %}

    
    <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading"><h2>Bienvenido a coevaluaciones</h2></div>
    <div class="panel-body">
    <p>Crea una coevaluación y comienza a coevaluar</p>
    </div>
    </div>
      <form method="post" action="{% url 'login_view' %}" class="form-signin" role="form">
        {% csrf_token %}
        <input type="text" id="id_{{form.username.name}}" name="{{ form.username.name }}" class="form-control" placeholder="Nombre de Usuario" required autofocus>

        <input type="password" id="id_{{form.password.name}}" name="{{ form.password.name }}" class="form-control" placeholder="Contraseña" required>
        <p class="help-text"><a href="{%url 'password_reset'%}">Ha olvidado su contraseña?</a><p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>

    </div>





{% endblock %}
{% block container %}
    <div class="content">
        {% if form.errors %}
            
        {% endif %}
        <form action="{% url 'login_view' %}" method="post" id="login-form">{% csrf_token %}
            <fieldset>
          

            </fieldset>
        </form>
  

    </div>
{% endblock %}