{% extends "base_bootstrap.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls widget_tweaks%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Contraseña restablecida
{%endblock%}

{% block nav-global %}
 	<ul class="nav nav-pills pull-right">
          <li class="active"><a href="{%url 'login_view'%}">Inicio</a></li>
    </ul>
    <h3 class="text-muted">Contraseña restablecida</h3>
{% endblock %}
{% block content %}
<p>Tu contraseña ha sido actualizada.  Puedes ir a siguiente páguina para acceder al sistema.</p>
<p><a href="{%url 'login_view' %}">Acceder</a></p>
{% endblock %}