{% extends "base_bootstrap.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls widget_tweaks%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Olvidar Password Éxito
{%endblock%}

{% block nav-global %}
 	<ul class="nav nav-pills pull-right">
          <li class="active"><a href="{%url 'login_view'%}">Inicio</a></li>
    </ul>
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}

{%block content%}
	<h3>Restablecimiento de contraseña exitoso</h3>
	<p>
		Le hemos enviado un correo electrónico con instrucciones para cambiar su contraseña a la dirección que nos ha suministrado. Debería recibirlo en breve.
	</p>
{% endblock %}