{% extends "base_bootstrap.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls widget_tweaks%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Restablecer Contraseña
{%endblock%}

{% block nav-global %}
 	<ul class="nav nav-pills pull-right">
          <li class="active"><a href="{%url 'login_view'%}">Inicio</a></li>
    </ul>
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}

{%block content%}
<p>Por favor, especifique su dirección de correo electrónico para recibir las instruciónes para restablecer su contraseña</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {%for error in form.non_field_errors%}
			<div class="alert alert-danger">{{error}}</div>
	{%endfor%}
     <div class="form-group {% if form.email.errors %} has-error{% endif %}">
    <label for="id_email">Correo electrónico</label> 
	{% render_field form.email class+="form-control" %}
	 {% if form.email.errors %}<span class="help-block">{{ form.email.errors.as_text }}</span>{% endif %}
	</div>
    <input class="btn btn-primary" type="submit" value="Restablecer contraseña" />
    
</form>
{%endblock%}