{% extends "base_bootstrap.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls widget_tweaks%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Restablecer contraseña
{%endblock%}

{% block nav-global %}
 	<ul class="nav nav-pills pull-right">
          <li class="active"><a href="{%url 'login_view'%}">Inicio</a></li>
    </ul>
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}

ddff{% block content %}
    {% if validlink %}
        <h4>Introduzca una nueva contraseña</h4>
        <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
        <form action="" method="post">
        	{%for error in form.non_field_errors%}
				<div class="alert alert-danger">{{error}}</div>
			{%endfor%}
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="form-group {% if form.new_password1.errors %} has-error{% endif %}">
    			<label for="id_new_password1">Nueva Contraseña</label> 
    			{% render_field form.new_password1 class+="form-control" %}
	 			{% if form.new_password1.errors %}
	 				<span class="help-block">{{ form.new_password1.errors.as_text }}</span>
	 			{% endif %}
    		</div>
    		<div class="form-group {% if form.new_password2.errors %} has-error{% endif %}">
    			<label for="id_new_password1">Nueva Contraseña</label> 
    			{% render_field form.new_password2 class+="form-control" %}
	 			{% if form.new_password2.errors %}
	 				<span class="help-block">{{ form.new_password2.errors.as_text }}</span>
	 			{% endif %}
    		</div>

    		<input type="submit" class="btn btn-primary" value="Cambia contraseña" />
        </form>
    {% else %}
        <h3>Restablecimiento de contraseña fallido</h3>
        <p>El enlace de restablecimiento de contraseña era invalido, seguramente por haberse utilizado previamente. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}
{% endblock %}