{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags widget_tweaks%}
{% block extrastyle %}{{ block.super }}{% endblock %}


{%block content%}

<h3>Agregar Pregunta <small>{{coevaluacion.get_nombre}} {{coevaluacion.curso}}</small></h3>
<form role="form"  class="form-horizontal" action="" method="post">{% csrf_token %}
	{{form.errors}}

	{% for field in form %}
    	{% if field.is_hidden %}
        	{{ field }}
      	{% else %}
			<div class="form-group {%if field.errors%}has-error{%endif%}">
				<label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>

				<div class="col-md-8"> 
				{% render_field field class+="form-control" %}
				</div>
	    		<span class="help-block">{{field.errors}}.</span>
    		</div>
      	{% endif %}
    {% endfor %}
    <div class="form-group">
	    <div class="col-md-offset-2 col-md-10">
	      <button type="submit" class="btn btn-primary">Crear pregunta</button>
	    </div>
  	</div>
</form>
	


{%endblock%}