{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags widget_tweaks%}
{% block extrahead %}
<script>

var swap_pregunta = function(pregunta1, pregunta2){
  title1 = pregunta1.find('textarea[name$="title"]');
  clave1 = pregunta1.find('input[name$="pregunta_clave"]');
  tipo1 = pregunta1.find('select[name$="tipo"]');
  id1 = pregunta1.find('input[name$="id"]');

  title2 = pregunta2.find('textarea[name$="title"]');
  clave2 = pregunta2.find('input[name$="pregunta_clave"]');
  id2 = pregunta2.find('input[name$="id"]');

  tmp = title2.val()
  title2.val(title1.val())
  title1.val(tmp)

  tmp = id2.val()
  id2.val(id1.val())
  id1.val(tmp)


  tmp = clave2.prop('checked')
  clave2.prop('checked', clave1.prop('checked'))
  clave1.prop('checked', tmp)

  tmp = tipo2.find(":selected").val()
  tipo2.find('option').filter(function() {
      //may want to use $.trim in here
      return $(this).val() == tipo1.find(":selected").val(); 
  }).prop('selected', true);
  tipo1.find('option').filter(function() {
      //may want to use $.trim in here
      return $(this).val() == tmp; 
  }).prop('selected', true);   
}
$(function() {

  $('input[name$="pregunta_clave"]').change(function(){
    $('input[name$="pregunta_clave"]').prop('checked', false);
    $(this).prop('checked', true);
  
  });

  $('.swap-previus').click(function(){
      pregunta1 = $(this).parent().parent()
      pregunta2 = $(this).parent().parent().prev('.panel')
      if(pregunta1.lenght != 0){
       swap_pregunta(pregunta1, pregunta2); 
      }
       
  });

  $('.swap-next').click(function(){
      pregunta1 = $(this).parent().parent()
      pregunta2 = $(this).parent().parent().next('.panel')
      if(pregunta2.lenght != 0){
       swap_pregunta(pregunta1, pregunta2); 
      }
      
  });

});
</script>
{% endblock %}


{% block content %}

    {% if coevaluacion %}
    

    <h4>Coevaluacion para {{coevaluacion.curso}} <span class="badge">{{coevaluacion.get_status_display}}</span> </h4>
    {{form.errors}}
    <p>
    <a class="btn btn-primary btn-xs" href="{%url 'admin_coevaluaciones:coevaluacion_subir_preguntas' coevaluacion.pk%}"><span class="glyphicon glyphicon-import"></span> Importar preguntas
    </a>
    <a href="{%url 'admin_coevaluaciones:agregar_pregunta_coevaluacion_profesor' coevaluacion.pk%}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> Agregar pregunta</a>
    </p>
    <form method="post">{% csrf_token %}
    {{form}}

    {{preguntas.management_form}}
    {% if preguntas.needs_explicit_pk_field %}{{ preguntas.pk_field.field }}{% endif%}
    {%for pregunta in preguntas%}
      <div class="panel panel-default">
        {%if not forloop.first%}
          <div class="panel-heading text-center" style="padding-top:3px;margin-top:0;padding-bottom:1px;margin-bottom:0;">
            <a class="btn btn-default btn-xs swap-previus">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </div>
        {%endif%}
        <div class="panel-body text-left">
          <div class="row">
            <div class="col-md-1"><span class="label label-default">{{forloop.counter}}</span></div>
            <div class="col-md-11">
            {% for hidden in pregunta.hidden_fields %}
                {{ hidden }}
            {% endfor %} 
          Enunciado:
          {% render_field pregunta.title class+="form-control enunciado" rows="1" %}
            <table class="table table-condensed">
              <tr>
                <td>Tipo</td>
                <td>{% render_field pregunta.tipo class+="form-control" %}</td>
                </tr>
                <tr>
                  <td>Definir como pregunta clave</td><td>{{pregunta.pregunta_clave}}</td>
                </tr>
            </table>
            </div>
          </div>
        </div>
        {%if not forloop.last%}
          <div style="padding-top:1px;margin-top:0;padding:0 0 3px 0;margin:0;" class="panel-footer text-center">
            <a  title="Bajar pregunta" class="btn btn-default swap-next btn-xs">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </div>
        {%endif%}
      </div>
      {%endfor%}

      <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
      <a href="{%url 'admin_coevaluaciones:ver_coevaluaciones_profesor'%}" style="margin:0 10px;" class="btn btn-default pull-right">Volver</a>
      </form>
  {%else%}
  <h2>Usted no tiene permiso para ver esta coevaluación</h2> 
  {%endif%} 
</div>
{% endblock %}