Estimado(a) {{ alumno.first_name }} {{ alumno.last_name }},<br>
Como parte del proceso de evaluación del rol desempeñado por cada miembro del equipo desarrollador, necesitamos que completes la {{coevaluacion.get_nombre}} del curso {{curso.nombre}}.<br>
En la siguiente dirección podrás acceder al sistema de co-evaluación y evaluar el desempeño de los miembros de tu equipo.
<br>_________________________________________
<br>

<a href ="http://{{ current_site.domain }}/alumno-primer-acceso/{{ alumno.pk}}/{{ alumno.password|cut:"pbkdf2_sha256$"}}" >Aquí </a>
<br>_________________________________________
<br>
Su nombre de usuario es el siguiente: {{ alumno.username}}
<br><br>
{{curso.profesor.first_name}} {{curso.profesor.last_name}}<br>
{{curso.nombre}} {{curso.semestre}}<br><br>
http://{{ current_site.domain }}<br>
