{% extends "cursos/estudiante_base.html" %}
{% load i18n admin_static admin_list widget_tweaks%}
{% load url from future %}

{%block content%}
<h3>Bienvenido {{estudiante.first_name}} {{estudiante.last_name}}</h3>
<p>Este es tu primer acceso, por favor escriba una clave de acceso para el sistema de coevaluaciones</p>
<p>Tu nombre de usuario será tu email: {{estudiante.email}}</p>
		{%for error in form.non_field_errors%}
			<div class="alert alert-danger">{{error}}</div>
		{%endfor%}
		<form role="form" action="" method="post">{% csrf_token %}
		  <div class="form-group {% if form.password.errors %} has-error{% endif %}">
		    {{form.password.label_tag}}
		    {% render_field form.password class+="form-control" %}
		    {% if form.password.errors %}<span class="help-block">{{ form.password.errors.as_text }}</span>{% endif %}
		  </div>
		  <div class="form-group {% if form.confirm_password.errors %} has-error{% endif %}">
		    {{form.confirm_password.label_tag}}
		    {% render_field form.confirm_password class+="form-control" %}
		    {% if form.confirm_password.errors %}<span class="help-block">{{ form.confirm_password.errors.as_text }}</span>{% endif %}
		  </div>
		  <p><button class="btn btn-primary" type="submit">Guardar</button></p>
		</form>
{%endblock%}
