{% extends "base_bootstrap.html" %}
{% load i18n%}
{% load url from future %}
{% load admin_urls%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Inicio
{%endblock%}

{% block nav-global %}
    <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{%url 'login_view'%}">Inicio</a></li>
    </ul>
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}