{% extends "admin/cursos/cursos_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags widget_tweaks%}

{% block title %}
Cursos - Agregar Grupo
{%endblock%}


{%block content%}
<div>
    {%block header-title%}<h3>Crear Curso</h3>{%endblock%}
    <p>Curso: {{curso.nombre}} - {{curso.semestre}}</p>
    <p>Profesor: {{curso.profesor.first_name}} {{curso.profesor.last_name}}</p>
    {% if ayudante %}
    <p>Ayudante:{{ curso.nombre }}</p>
    {% endif %}
</div>
  {% if curso %}
  	<div class="row">
  		<form class="form-horizontal" role="form" action="" method="post">
  		{% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
         <div class="form-group">
            {{field.label_tag}}
            {% render_field field class+="form-control" %}
            {% if field.errors %}
                {{field.errors}}
                {{ field.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <p>
        <input type="submit" class="btn btn-primary" value="{%block save-btn-label%}Crear{%endblock%}" />
        <a class="btn btn-default" href="{% url 'admin_cursos:ver_curso_profesor' curso.pk %}">Volver</a>
    </p>
	</form>
	</div>


  {%else%}
  <h2>Usted no tiene permiso para agregar un grupo a este curso</h2> 
  {%endif%} 
</div>
{% endblock %}