{% extends "admin/cursos/cursos_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags widget_tweaks%}
{%block content%}

<h1>{%block header-title%}Crear Curso{%endblock%}</h1>
<h4>Profesor: {{profesor.first_name}} {{profesor.last_name}}</h4>
<div class="row">
	<div class="col-md-8">
		<form role="form" action="" method="post">{% csrf_token %}
            {% for field in form %}
            	 <div class="form-group">
            		{{field.label_tag}}
		    		{% render_field field class+="form-control" %}
             		{% if field.errors %}
                     	{{field.errors}}
                    	{{ field.errors }}
            		{% endif %}
		  		</div>
        	{% endfor %}
		  <p><button class="btn btn-primary" type="submit">Crear</button></p>
		</form>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Últimos cursos</div>
			<table class="table panel-body">
		    {%for curso in cursos %}<tr><td>{{curso.nombre}} {{curso.semestre}}</td></tr>{%endfor%}
		  	</table>
		</div>
	</div>
</div>
{%endblock%}