{% extends "admin/cursos/cursos_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls cursos_tags%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Curso - Inicio
{%endblock%}


{% block content %}
<div>

    <h3>Puede importar alumnos aquí. <a class="btn btn-default" title="Agregar un grupo" href="{%url 'admin_cursos:importar_alumnos' curso.pk%}"><span class="glyphicon glyphicon-import"></span> Importar Alumnos y grupos</a></h3>
    <p>Curso: {{curso.nombre}} - {{curso.semestre}}</p>
    <p>Profesor: {{curso.profesor.first_name}} {{curso.profesor.last_name}}</p>
 
</div>

  {% if curso %}
  <div class="row">
   
    
    <div class="col-md-6">
    <div class="panel panel-default">
        <div title="Grupos" class="panel-heading">
          Grupos
          <span class="badge">{{curso.grupo_set.count}}</span>
          <div class="btn-group pull-right ">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
              Acciones <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a title="Agregar un grupo" href="{%url 'admin_cursos:agregar_grupo_a_curso' curso.pk%}">Agregar grupo</a>
              </li>
            </ul>
          </div>
         </div>
        
        <table  id="sortable" class="table">
          <tbody>   
          {%for grupo in curso.grupo_set.all%}  
            <tr id="grupo_{{grupo.pk}}" class="ui-state-default" >
              <td><a href="{% url 'admin_cursos:editar_grupo_de_curso' curso_pk=curso.pk grupo_pk=grupo.pk %}">{{grupo}}</a></td><td> {{grupo.alumnos.count}}</td>
              <tr class="text-center">
                <td colspan="2">
                {% if grupo.alumnos.count > 0 %}
                <table class="table">
                  {% for estudiante in grupo.alumnos.all %}
                  <tr>
                    <td>{{estudiante.first_name}} {{estudiante.last_name}}</td>
                    <td>
                      <a class="btn btn-default btn-xs" href="{%url 'admin_cursos:desasignar_alumno_grupo_curso' curso_pk=curso.pk estudiante_pk=estudiante.pk %}">x</a>
                    </td>
                  </tr>
                  {% endfor %}

                </table>
                {%else%}
                  Grupo Vacio
                 {%endif%}
                </td>
              </tr>
            </tr>
          {%endfor%}
          </tbody>
        </table>
    </div>
   </div>
   <div class="col-md-6">
    <div class="panel panel-default">
        <div title="Nombre del curso" class="panel-heading">
          Alumnos sin grupo
          <span class="badge">{{curso.alumnos.count}}</span>
          <div class="btn-group pull-right ">
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
          Aciones <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a title="Agregar un estudiante" href="{%url 'admin_cursos:importar_alumnos' curso.pk%}">Importar Mediante Excel</a></li>
        </ul>
          </div>
        </div>
        <table class="table"> 
         <thead><tr><th>Nombre</th><th>Grupo</th><th>-</th></tr></thead>
        <tbody>
        {%for estudiante in curso.get_alumnos_sin_grupo%}
      <tr>
          <td>
            {{estudiante.first_name}} {{estudiante.last_name}}
          </td>
          <td>
            {{estudiante|obtener_grupo_name:curso.pk}}
          </td>
          <td>
            <div class="btn-group pull-right ">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Asignar <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              {%for grupo in curso.grupo_set.all%}
              <li>
                <a href="{%url 'admin_cursos:asignar_alumno_grupo_curso' curso_pk=curso.pk estudiante_pk=estudiante.pk grupo_pk=grupo.pk %}">a {{grupo.nombre}}</a>
              </li>
              {%endfor%}
            </ul>
            </div>
          </td>
      </tr>
      {%endfor%}
      
        </tbody>
        </table>
    
   </div>
  </div>
  </div> 
  {%else%}
  <h2>Usted no tiene cursos en el sistema</h2> 
  {%endif%} 
</div>
{% endblock %}






{% block extrahead %}
<script src="{{STATIC_URL}}library/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
// Return a helper with preserved width of cells
var fixHelper = function(e, ui) {
  ui.children().each(function() {
    $(this).width($(this).width());
  });
  return ui;
};

$("#sortable tbody").sortable({
  helper: fixHelper,
  update: function(event, ui) {
           var info = $(this)
           $.each( $(this)[0]['children'], function( i, l ){
            console.log(i);
            console.log(l.id);
            });
           

        }
    }).disableSelection();
  
  });

</script>
{% endblock %}