{% extends "admin/cursos/cursos_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls%}


{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Cursos - Inicio
{%endblock%}


{% block content %}
<h3>Cursos:</h3>
<div class="row">
  <div class="col-md-12">
  <a href="{%url 'admin_cursos:crear_curso_profesor'%}" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar Curso</a>
</div>
</div>

  {% if cursos %}
  <div class="row">
    {%for curso in cursos%}
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div title="Nombre del curso" class="panel-heading">
          {{curso.nombre}}
          <span class="badge">{{curso.alumnos.count}}</span>
          <div class="btn-group pull-right ">
			  <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
			    Aciones <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#">Editar</a></li>
			    <li class="divider"></li>
			    <li><a href="{%url 'admin_cursos:importar_alumnos' curso.pk%}">Subir archivo con alumnos</a></li>
			  </ul>
			</div>
        </div>
        <div class="panel-body">
          <h4 title="semestre">Semestre: {{curso.semestre}}</h4>
          <p title="profesor">Profesor: {{curso.profesor.first_name}} {{curso.profesor.last_name}}</p>
          <p title="n° coevaluaciones">Coevaluaciones: {{curso.coevaluacion_set.count}}</p>
          <p title="Grupos">Grupos: {{curso.grupo_set.count}}</p>
          <p title="Alumnos">Alumnos: {{curso.estudiante_set.count}}</p>
          <a class="btn btn-primary" href="{% url 'admin_cursos:ver_curso_profesor' curso.pk%}">Ver Curso</a>
        </div>
      </div> 
    </div>
    {%endfor%}
  </div> 
  {%else%}
  <h2>Usted no tiene cursos en el sistema</h2> 
  {%endif%} 
</div>
{% endblock %}