{% extends "admin/cursos/cursos_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls%}




{% block content %}

  <h3>Cursos:</h3>

  {% if cursos %}
  <div class="row">
    {%for curso in cursos%}
    <div class="col-6 col-sm-6 col-lg-4">
      <div class="panel panel-default">
        <div title="Nombre del curso" class="panel-heading">
          {{curso.nombre}}
        </div>
        <div class="panel-body">
          <h4 title="semestre">{{curso.semestre}}<h4>
          <p title="profesor">Coevaluaciones: {{curso.coevaluacion_set.count}}</p>
          <p title="profesor">Grupos: {{curso.grupo_set.count}}</p>
          <p title="profesor">Alumnos: {{curso.estudiante_set.count}}</p>
        </div>
      </div> 
    </div>
    {%endfor%}
  </div> 
  {%else%}
  <h2>Usted no tiene cursos en el sistema</h2> 
  {%endif%} 
</div>
{% endblock %}