{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags%}


{% block content %}
<div>

    <h4>Coevaluaciones:</h4>
</div>

  {% if coevaluaciones %}
  <div class="row">
    {%for coevaluacion in coevaluaciones%}
    
    <div class="col-6 col-sm-6 col-lg-4">
      <div class="panel panel-default">
        <div title="Nombre coevaluación" class="panel-heading">
        {{coevaluacion.get_nombre}}<br>
          <span class="label 
          {% if coevaluacion.get_status == 'P' %}
            {% if coevaluacion|contestada:usuario.pk %}
              label-success
            {%else%}
              label-warning
            {% endif %}
          {% else %}
            label-default
          {% endif %}">
          {% if coevaluacion.get_status == 'P' %}
            {% if coevaluacion|contestada:usuario.pk %}
             Respondida
            {% else %}
             Por responder
            {% endif %}
          {% else %}
            Finalizada
          {% endif %}
          </span>
        </div>
        <div class="panel-body">
          <h4 title="Curso">{{coevaluacion.curso.nombre}} - {{coevaluacion.curso.semestre}}</h4>
          <table class="table">
            <tr>
              <td colspan="2" title="Profesor">{{coevaluacion.curso.profesor}}</td>
            </tr>
            {%if coevaluacion.curso.ayudante%}
            <tr>
              <td title="Ayudante">Ayudante</td>
              <td title="Ayudante">{{coevaluacion.curso.ayudante.first_name}} {{coevaluacion.curso.ayudante.last_name}}</td>
            </tr>
            {% endif %}
            <tr>
              <td title="fecha publicación">Publicada:</td><td>{{coevaluacion.fecha_publicacion|date:"d b"}}</td>
            </tr>
            <tr>
              <td title="fecha límite">Cierra:</td><td title="fecha publicación">{{coevaluacion.fecha_limite|date:"d b H:i"}}</td>
            </tr>
          </table>
          
         
          <p> {% if coevaluacion.get_status == 'P' %}
            <a class="btn btn-default" href="{%url 'admin_coevaluaciones:coevaluacion_responder' coevaluacion.pk%}">
            	{% if coevaluacion|contestada:usuario.pk %}
            		<span class=" glyphicon glyphicon-check"></span> Cambiar Respuestas
            	{% else %}
            		<span class=" glyphicon glyphicon-check"></span>  Contestar
          		{% endif %}  	
            </a>
            {% elif coevaluacion.get_status == 'F' %}
            <a class="btn btn-default" href="{%url 'admin_coevaluaciones:coevaluacion_resultados' coevaluacion.pk%}"><span class="glyphicon glyphicon-stats"></span> Resultados</a>
            {% endif %} 
          </p>
        </div>
      </div> 
    </div>
    {%endfor%}
  </div>
  {%else%}
  <h2>Usted no tiene coevaluaciones en el sistema</h2> 
  {%endif%} 
</div>
{% endblock %}