{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags%}

{% block content %}
  	{% if coevaluacion %}

  		<p>Tus Compañeros te han evaluado de la siguiente forma</p>
      <div class="row">
      <div class="col-md-9">Pregunta:</div>
      <div class="col-md-3">Promedio (1 al 5)</div>
      </div>
      <div class="panel-group" id="accordion">
      {%for pregunta in preguntas %}


  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{pregunta.pregunta.id}}">
          <div class="col-md-9">{{pregunta.pregunta}}</div>
          {%if pregunta.pregunta.tipo == 'eval' %}
            <div class="col-md-3">
              {{pregunta.promedio}}
            </div>
          {%endif%}
        </a>
      </h4>
      </div>
    </div>
    <div id="collapseOne{{pregunta.pregunta.id}}" class="panel-collapse collapse {%if pregunta.pregunta.tipo == 'txt' %}in{%endif%}">
      <table class="table">
          <tr>
            <th>Compañero(a)</th>
            <th>Evaluación </th>
          </tr>
          
          {%for respuesta in pregunta.respuestas %}
            <tr>
              <td class="col-md-1">{{forloop.counter}}</td>
              <td>
              {%if pregunta.pregunta.tipo == 'eval' %}
              {%if respuesta.respuesta_eval == 0 %}
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {%elif respuesta.respuesta_eval == 1 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {%elif respuesta.respuesta_eval == 2 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {%elif respuesta.respuesta_eval == 3 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {%elif respuesta.respuesta_eval == 4 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {%elif respuesta.respuesta_eval == 5 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              {%endif %}


              <small>{{respuesta.respuesta_eval}} de 5</small></td>
              {% else %}
                {{respuesta.respuesta_text}}
              {% endif %}
            </tr>
          {%endfor%}
        </table>
    </div>
  </div>
  		{%endfor%}
    </div>
  	{% else %}
		<h3>El Estudiante "{{estudiante.pk}}" no tiene asociado esta coevaluación, o ya ha sido respondida
		</h3>
	{% endif %}
{% endblock %}