{% extends "base_bootstrap.html" %}
{% load i18n%}
{% load url from future %}
{% load admin_urls%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}

{% block title %}
Coevaluaciones - Inicio
{%endblock%}

{% block nav-global %}
        <ul class="nav nav-pills pull-right">
          {% if rol == "profesor" %}
          <li class="active"><a href="{%url 'admin_coevaluaciones:ver_coevaluaciones_profesor'%}">Coevaluaciones</a></li>
          <li><a href="{% url 'admin_cursos:ver_cursos_profesor'%}">Cursos</a></li>
          {%else%}
          <li class="active"><a href="{%url 'admin_coevaluaciones:ver_coevaluaciones_alumno'%}">Coevaluaciones</a></li>
          <li><a href="{% url 'admin_cursos:ver_cursos_alumno'%}">Cursos</a></li>
          {%endif%}
          <li class="dropdown">
            <a id="drop6" role="button" data-toggle="dropdown" href="#">{{usuario.first_name}} {{usuario.last_name}}<b class="caret"></b></a>
              <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'admin_cursos:cambiar_clave' usuario.pk%}">Cambiar contraseña</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'logout'%}">Cerrar sesión</a></li>
              </ul>
        </li>
    </ul>
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}