{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Subir Respuestas
{%endblock%}


{% block content %}

  {%if coevaluacion%}
  <div class="alert alert-info">Puedes descargar un ejemplo de archivo de importación <a href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor_descargar' coevaluacion.pk%}" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span> Aquí</a></div>


  <form method="post" class="form" action="." enctype="multipart/form-data">
  {% csrf_token %}    
        
          <div class="col-md-12 estudiante_responde">
            {% for field in form %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
              <div class="row"
                <div class="fila_estudiante">
                  <div class="col-md-3 nombre_estudiante">
                  {{field.label_tag}}
                  </div>
                  <div class="col-md-7 evaluacion_estudiante">
                  {{field}}
                  {{field.errors}}
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
             <button class="btn btn-info" type="submit" value="enviar"><span class="glyphicon glyphicon-upload"></span> Subir</button>
        </div>
  	{%endif%}
   
  </form>
{% endblock %}