{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags widget_tweaks%}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/jquery.datetimepicker.css" />
{% endblock %}
{% block extrahead %}
<script src="{{STATIC_URL}}library/js/jquery.datetimepicker.js"></script>
<script>
$(function() {
	$('#id_fecha_limite').datetimepicker({
		 format:'d/m/Y H:i',
		 minDate:0,
		 lang:'es',
		 dayOfWeekStart:1,
		 allowTimes:['00:00','1:00','2:00','3:00','4:00','5:00','6:00','7:00','8:00','9:00',
		 '10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00',
		 '22:00', '23:00','23:59',],
		 });
	$('#id_fecha_limite_image_button').click(function(){
  		$('#id_fecha_limite').datetimepicker('show'); //support hide,show and destroy command
	});
});


</script>
{% endblock %}

{%block content%}

<h1>Publicar coevaluación</h1>
<h4>Profesor: {{profesor.first_name}} {{profesor.last_name}}</h4>
<h5>Determine la fecha de cierre de la coevaluación</h5>
<div class="row">
	<div class="col-md-8">
		<form role="form" action="" method="post">{% csrf_token %}
			<div class="form-group {%if form.fecha_limite.errors%}has-error{%endif%}">
			{{form.fecha_limite.label_tag}} 
			<div class="input-group date">
				{% render_field form.fecha_limite class+="form-control" %}
    			<span id="id_fecha_limite_image_button" class="input-group-addon">
    				<i class="glyphicon glyphicon-th"></i>
    			</span>
    		</div>
    		<span class="help-block">{{form.fecha_limite.errors}}.</span>
    		</div>
    		<div class="form-group">
			{{form.mailearalumnos.label_tag}} 
			<div class="input-group date">
				{{form.mailearalumnos}}
    		</div>
    		<p>{{form.mailearalumnos.error}}</p>
    		</div>
		  	<p><button class="btn btn-primary" type="submit">Publicar</button></p>
		</form>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Últimas Coevaluaciones</div>
			<table class="table panel-body">
		    {%for coevaluacion in coevaluaciones %}<tr><td>{{coevaluacion}}</td></tr>{%endfor%}
		  	</table>
		</div>
	</div>
</div>
{%endblock%}