{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags widget_tweaks%}
{% block extrastyle %}{{ block.super }}{% endblock %}


{%block content%}

<h1>Crear coevaluación</h1>
<h4>Profesor: {{profesor.first_name}} {{profesor.last_name}}</h4>
<h5>Seleccione un curso para continuar</h5>
<div class="row">
	<div class="col-md-8">
		<form role="form" action="" method="post">{% csrf_token %}
			{{form.errors}}
			<div class="form-group">
    			{{form.curso.label_tag}} <a href="{%url 'admin_cursos:crear_curso_profesor'%}"class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span>Crear Curso</a>
    			{% render_field form.curso class+="form-control" %}
    			<p>{{form.curso.error}}</p>
  			
  			</div>

  			<div class="form-group">
    			{{form.nombre.label_tag}} 
    			{% render_field form.nombre class+="form-control" %}
    			<p>{{form.nombre.error}}</p>
  			
  			</div>
		  	<p><button class="btn btn-primary" type="submit">Utilizar</button></p>
		</form>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Últimas Coevaluaciones</div>
			<table class="table panel-body">
		    {%for coevaluacion in coevaluaciones %}<tr><td>{{coevaluacion}}</td></tr>{%endfor%}
		  	</table>
		</div>
	</div>
</div>
{%endblock%}