{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list%}
{% load url from future %}
{% load admin_urls %}

{% block title %}
Coevaluaciones - Inicio
{%endblock%}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/{% static "admin/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}coevaluaciones/css/responder.css" />

  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}


{% block content %}
{{STATIC_URL}}
{% endblock %}