{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list widget_tweaks%}
{% load url from future %}
{% load admin_urls %}

{% block title %}
Coevaluaciones - Inicio
{%endblock%}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}coevaluaciones/css/responder.css" />
  <style type="text/css">
  form ul {
    list-style: none;
  }
  form ul li {
      margin: 0 6px;
      display:inline-block;
    }

  table.table tr td.alumno{
    vertical-align: middle;

  }
  {%comment%}
  span.glyphicon-star-empty.eval-0{
    color:#ca4247;
    font-size: 18px;
  }
  span.glyphicon-star-empty.eval-1{
    color:#ca4247;
    font-size: 18px;
  }
  span.glyphicon-star-empty.eval-2{
    color:#ca8142;
    font-size: 18px;
  }
  span.glyphicon-star-empty.eval-3{
    color:#cac542;
    font-size: 18px;
  }
  span.glyphicon-star-empty.eval-4{
    color:#8bca42;
    font-size: 18px;
  }
  span.glyphicon-star-empty.eval-5{
    color:#42ca81;
    font-size: 18px;
  }
  {%endcomment%}



  </style>
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {{ media.css }}
{% endblock %}
{% block extrahead %}
<script>
$(function() {

    initial_lables = $('input:checked').closest('label').addClass('active');
    color_values = {
                   "eval-1":'#ca4247',
                   "eval-2":'#ca8142',
                   "eval-3":'#cac542',
                   "eval-4":'#8bca42',
                   "eval-5":'#42ca81'
                  }
    $.each( initial_lables, function( i, l ){
      value = $(this).children('input').attr('value');
      selector = '#label_'+$(this).children('input').attr('name');
      labels = $(this).closest('.btn-group').children()
      labels.children('span').css('color','#ccc');
      labels = labels.filter(function( index ) {
        return index < value;
      });
      labels.children('span').css('color',color_values['eval-'+value]);

      $(selector).removeClass("label-default").addClass("label-primary").html($(this).attr('title')).css('background-color',color_values['eval-'+value]);
    });

    initial_lables.filter(function( index ) {
      return index < value;
    })

    $("input").change(function(){
    value = $(this).attr("value")
    selector = '#label_'+$(this).attr('name');
    label = $(this).closest('label');
    labels = $(this).closest('.btn-group').children();
    labels.children('span').css('color','#ccc');
    labels = labels.filter(function( index ) {
      return index < value;
    });
    labels.children('span').css('color',color_values['eval-'+value]);   

    $(selector).removeClass("label-default").addClass("label-primary eval-"+value).html(label.attr('title')).css('background-color',color_values['eval-'+value]);

  });
  function findBootstrapEnvironment() {
    var envs = ['xs', 'sm', 'md', 'lg'];

    $el = $('<div>');
    $el.appendTo($('body'));

    for (var i = envs.length - 1; i >= 0; i--) {
        var env = envs[i];

        $el.addClass('hidden-'+env);
        if ($el.is(':hidden')) {
            $el.remove();
            return env
        }
      };
  }
  $('#example-modal').on('show.bs.modal', function (e) {
    env = findBootstrapEnvironment();
    if (env == 'xs' || env == 'sm'){
    $(this).children().children().closest('.modal-content').html('<img src="{{STATIC_URL}}coevaluaciones/images/ejemplo-respuesta-mobile.gif">')
    }
    else{
      $(this).children().children().closest('.modal-content').html('<img src="{{STATIC_URL}}coevaluaciones/images/ejemplo-respuesta.gif">')
    }
  });


});
</script>
{% endblock %}

{% block content %}
  <h3>{{coevaluacion.get_nombre}} <small>{{grupo.nombre}}</small></h3>
  <p>{{coevaluacion.curso.profesor.first_name}} {{coevaluacion.curso.profesor.last_name}}</p>
  {% if coevaluacion.curso.ayudante %}
    <p>{{coevaluacion.curso.ayudante.first_name}} {{coevaluacion.curso.ayudante.last_name}}</p>
  {% endif %}
  <div class="alert alert-info">
    A continuación evalúe el desempeño de sus compañeros de grupo marcando una opción.
    <a class="btn" data-toggle="modal" data-target="#example-modal"> [ver ejemplo] </a>
    <div id="example-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
        </div>
      </div>
    </div>
  </div>
  {%if preguntas %}
  

  <form method="post" class="form" action="">
  {% csrf_token %} 
      {%for pregunta in preguntas %}
      <div class="panel {%if pregunta.pregunta.pregunta_clave%}panel-info{% else %}panel-default{%endif%}">
      <div class="panel-heading">
        <h3 class="panel-title">{{forloop.counter}}.- {{pregunta.pregunta.title}}</h3>
      </div>
      <div class="panel-body">
        {%if pregunta.alumnos.values|length > 0%}
          {%for i, resp in pregunta.alumnos.items %}
            <div class="row" style="padding:7px 0;margin:2px 0; border-bottom: solid 1px #DDDDDD;">
                <div class="col-md-3 alumno text-center">
                {%if pregunta.pregunta.tipo = 'eval' %}
                {{resp.respuesta_eval.label_tag}}
                {% else %}
                {{resp.respuesta_text.label_tag}}
                {% endif%}
                </div>
                {%if pregunta.pregunta.tipo = 'eval' %}
                <div class="col-md-7 text-center">
                
                {% for field in resp%}
                  {% if field.is_hidden %}
                    {{ field }}
                  {% endif %}
                {% endfor %}
                  
                    <div class="btn-group" data-toggle="buttons">
                    {% for choice in resp.respuesta_eval.field.choices %}
                      
                          
                          <label title ="{{choice.1}}" class="btn btn-default" for="id_{{ resp.respuesta_eval.html_name }}{{ forloop.counter0 }}">
                              <input type="radio" {% ifequal resp.respuesta_eval.value|striptags choice.0|striptags %}
                                checked='true'
                              {% endifequal %}
                              id="id_{{ resp.respuesta_eval.html_name }}_{{ forloop.counter0 }}" value="{{ choice.0 }}" name="{{ resp.respuesta_eval.html_name }}">
                              <span class="glyphicon glyphicon-star-empty eval-{{choice.0}}"></span>
                          </label>
                    {% endfor %}
                    </div>
                  {%if resp.errors%}
                  {%for field, error in resp.errors.items%}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                {%endif%}
                </div>
                <div class="col-md-2 text-center">
                  <span id="label_{{ resp.respuesta_eval.html_name }}" class="label label-default">No evaluado</span>
                </div>
                {% else %}
                <div class="col-md-9 form-group {%if resp.errors%}has-error{%endif%} text-center">
                
                {% for field in resp%}
                  {% if field.is_hidden %}
                    {{ field }}
                  {% endif %}
                {% endfor %}

                {% render_field resp.respuesta_text class+="form-control" %}
                {%if resp.errors%}
                  {%for field, error in resp.errors.items%}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                {%endif%}
                
                </div>
                {% endif%}

            </div>   
           
          {% endfor %}
          {%else%}
          No tienes compañeros en tu grupo para evaluar
          {%endif%}
       </div>
      
    </div>
    {% endfor %}


      
    <p class="text-right" style="margin: 15px 0;"><input class="btn btn-primary" type="submit" value="Responder"/></p>
  </form>
  {%else%}
  <h3>El Estudiante "{{estudiante.pk}}" no tiene asociado esta coevaluación, o ya ha sido respondida
  </h3>
  {%endif%}
{% endblock %}
