{% extends "base_bootstrap.html" %}

{%block title%}
Página no encontrada
{%endblock%}
{%block content%}
   <h1>404 - No se encontró la página</h1>
   <p>Puede que la página solicitada ya no exita, haya cambiado de nombre o no esté disponible temporalmente</p>
{%endblock%}
