<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"es" }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{{STATIC_URL}}admin/css/ie.css{% endblock %}" /><![endif]-->
{% block extrastyle %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div class="container">

    {% if not is_popup %}
    <!-- Header -->
    <div class="header">
        {% block nav-global %}{% endblock %}
    </div>

    <!-- END Header -->
    {% block breadcrumbs %}
   
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
       {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message|safe }}
          </div>
        {% endfor %}
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
  
        {% block pretitle %}{% endblock %}

        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
      
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
<script src="{{STATIC_URL}}library/js/jquery.min.js" ></script>
<script src="{{STATIC_URL}}library/js/bootstrap.min.js"></script>
{% block extrahead %}{% endblock %}
</body>
</html>