{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags%}
{% block extrastyle%}
{{block.super}}
<style>
 *, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em; 
  
}

.panel {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}

</style>
{% endblock %}
{% block content %}
<h4>Coevaluaciones:</h4>
<div class="row">
  <div class="col-md-6"></div>
  <div class="text-right">
	  <a style="margin-bottom: 15px;}"href="{%url 'admin_coevaluaciones:crear_coevaluacion_profesor'%}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar Coevaluación</a>
  </div>
</div>
  {% if coevaluaciones %}
  <div class="row">
    {%for coevaluacion in coevaluaciones%}
      <div class="panel panel-default">
        <div title="Nombre del curso" class="panel-heading">
          {{coevaluacion.get_nombre}}
          <span class="label {% if coevaluacion.get_status == "C" %}label-warning{% elif coevaluacion.get_status == "F" %}label-default{%else%}label-success{%endif%}">{{coevaluacion.get_status_display}}
        </span>
        <div class="btn-group pull-right ">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          Aciones <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{%url 'admin_coevaluaciones:editar_coevaluacion_profesor' coevaluacion.pk%}">Editar</a></li>
          <li><a href="{%url 'admin_cursos:ver_curso_profesor' coevaluacion.curso.pk%}">Ver Curso</a></li>
          <li class="divider"></li>
          <li><a href="{%url 'admin_coevaluaciones:editar_preguntas_coevaluacion_profesor' coevaluacion.pk%}">Editar preguntas</a></li>
          <li><a href="{%url 'admin_coevaluaciones:coevaluacion_subir_preguntas' coevaluacion.pk%}">Subir archivo de preguntas</a></li>
        </ul>
        </div>
        </div>
        <div class="panel-body">
          <h4 title="semestre">{{coevaluacion.curso.nombre}} - {{coevaluacion.curso.semestre}}</h4>
          <table class="table">
            <tr>
              <td>Preguntas
              </td>
              <td>{{coevaluacion.pregunta_set.count}}
              </td>
            </tr>
          {% if coevaluacion.get_status == "C" %}         
            <tr>
              <td>Fecha Publicación
              </td>
              <td><strong>Por Publicar</strong>
              </td>
            </tr>
          </table>
          <p>
          {%if coevaluacion.validar_curso and coevaluacion.validar_preguntas%}
            <a class="btn btn-default" href="{%url 'admin_coevaluaciones:publicar_coevaluacion_profesor' coevaluacion.pk%}"> <span class="glyphicon glyphicon-bullhorn"></span> Publicar
            </a>
          {%elif not coevaluacion.validar_curso%}
            <a class="btn btn-default" href="{%url 'admin_cursos:ver_curso_profesor' coevaluacion.curso.pk%}"> <span class="glyphicon glyphicon glyphicon-pushpin"></span> Editar Curso
            </a>
          {%else%}
            <a class="btn btn-default" href="{%url 'admin_coevaluaciones:editar_preguntas_coevaluacion_profesor' coevaluacion.pk%}"> <span class="glyphicon glyphicon glyphicon-pushpin"></span> Editar Preguntas
            </a>
          {%endif%}
          </p>
          {% else %}
            <tr>
                <td>Fecha Publicación
                </td>
                <td>{{coevaluacion.fecha_publicacion|date:"d b"}}
                </td>
            </tr>
            <tr>
                <td>Fecha Límite
                </td>
                <td>{{coevaluacion.fecha_limite|date:"d b H:i"}}
                </td>
            </tr>
            <tr>
                <td>Respuestas
                </td>

                <td>
                  <div class="progress">
                    <div title="{{coevaluacion.numero_alumnos_contestan}}/{{coevaluacion.numero_alumnos}} respuestas" class="progress-bar" role="progressbar" aria-valuenow="{% widthratio coevaluacion.numero_alumnos_contestan coevaluacion.numero_alumnos 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio coevaluacion.numero_alumnos_contestan coevaluacion.numero_alumnos 100 %}%">
                      <span style="color:#ccc;">{{coevaluacion.numero_alumnos_contestan}}/{{coevaluacion.numero_alumnos}}</span>
                    </div>
                  </div>
                </td>
            </tr>
          </table>
          <p> 
          {% if coevaluacion.get_status == "P" %} 
            <a class="btn btn-default" href="{%url 'admin_coevaluaciones:coevaluacion_resultados_parciales_profesor' coevaluacion.pk%}"><span class="glyphicon glyphicon-stats"></span> Resultados parciales</a>
          {% else%}
            <a class="btn btn-default" href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor' coevaluacion.pk%}"><span class="glyphicon glyphicon-stats"></span> Ver Resultados</a>
          {% endif%}
          </p>
          {% endif %}</p>
        </div>
      </div> 
    {%endfor%}
  </div> 
  {%else%}
  <h2>Usted no tiene coevaluaciones en el sistema</h2> 
  {%endif%} 
</div>
{% endblock %}