{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags%}
{% block extrastyle%}
  {{block.super}}
  <style>
  table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

  table thead.header{
    background-color: #fefefe;
  }
  tr.pregunta_clave{font-weight: bold;}
  </style>
{% endblock%}
{% block extrahead %}
{{ block.super }}
<script src="{{STATIC_URL}}library/js/jquery.floatThead.min.js"></script>
<script language='javascript' type='text/javascript'>
  function findBootstrapEnvironment() {
    var envs = ['xs', 'sm', 'md', 'lg'];

    $el = $('<div>');
    $el.appendTo($('body'));

    for (var i = envs.length - 1; i >= 0; i--) {
        var env = envs[i];

        $el.addClass('hidden-'+env);
        if ($el.is(':hidden')) {
            $el.remove();
            return env
        }
      };
  }

  $(document).ready(function(){
    $('body').on('hidden.bs.modal', '.modal', function () {
      $(this).removeData('bs.modal');
    });

    env = findBootstrapEnvironment();
    if (env != 'xs' && env != 'sm'){
      $('table.resultados').floatThead({
        useAbsolutePositioning: false
        // absolutePositioning is better for
        // highly dynamic sites
        // (which this is not)
      });
    }
  });
</script>
{% endblock %}
{% block content %}
  
 <div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Resultados pregunta</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<p>Estos son los resultados:</p>
<p>Coevaluación: {{coevaluacion.nombre}} </p>
<p>Curso: {{coevaluacion.curso.nombre}} - {{coevaluacion.curso.semestre}}</p>
<p>Profesor: {{coevaluacion.curso.profesor.first_name}} {{coevaluacion.curso.profesor.last_name}}</p>
 <p>Grupo: {{grupo.nombre}}</p>

    <table class='table table-bordered resultados table-condensed'>
      <thead class='header'>
        <tr>
          <th>Pregunta</th>
          {% for alumno in alumnos.all %}
            <th>{{alumno.first_name}} {{alumno.last_name}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for pregunta in coevaluacion.pregunta_set.all %}
        <tr {%if pregunta.pregunta_clave %}class="pregunta_clave"{%endif%}>
        <td class="col-md-4">{{pregunta.title}}</td>
        {% for alumno in alumnos.all %}
          <td class="text-center">
            {% if pregunta.tipo == 'eval' %}
            <a href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor_grupo_pregunta_alumno' coevaluacion.pk pregunta.pk alumno.pk %}" data-toggle="modal" data-target="#myModal">{{alumno|get_promedio_pregunta:pregunta.pk}}</a>
   
            {% else %}
              <a href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor_grupo_pregunta_alumno' coevaluacion.pk pregunta.pk alumno.pk %}" data-toggle="modal" data-target="#myModal"  class="btn btn-default btn-xs"><span></span> ver</a>
            {% endif %}
          </td>

        {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
  <tfoot>
    <tr>
       <th>Promedio Preguntas</td>
          {% for alumno in alumnos.all %}
            <th class="text-center">{{alumno|get_promedio_preguntas:coevaluacion.pk}}</td>
          {% endfor %}
    </tr>
    </tr>
        <th>Pregunta Clave</td>
          {% for alumno in alumnos.all %}
            <th class="text-center">{{alumno|get_promedio_pregunta_clave:coevaluacion.pk}}</td>
          {% endfor %}
    </tr>
  </tfoot>
  </table>
{% endblock %}