
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Resultados de la pregunta para {{alumno.first_name}} {{alumno.last_name}}</h4>
  </div>
  <div class="modal-body">
  <h5>Pregunta: {{pregunta.title}}</h5>
  <p>Resultados de alumno coevaluado:</p>	
  <table class="table">
  <thead>
  <tr><th>Evaluado por:</th><th>Respuesta</th></tr>
  </thead>
  {%for respuesta in respuestas.all%}
	  <tr>
		  <td>{{respuesta.estudiante_origen.first_name}} {{respuesta.estudiante_origen.last_name}}</td>
		  {%if pregunta.tipo == 'eval'%}
		  <td>{{respuesta.respuesta_eval}}</td>
		  {%else%}
		  <td>{{respuesta.respuesta_text}}</td>
		  {%endif%}
	  </tr>
  {%endfor%}
  </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div>