{% extends "admin/coevaluaciones/profesor/resultados/resultados.html" %}
{% load coevaluaciones_tags%}
{%block mensajes-resultados%}
<div class="alert alert-info">
  <p>Resultados parciales, pueden cambiar el cierre de la coevaluación</p>
</div>
{%endblock%}

{%block extra-alumno%}
	{% if coevaluacion|contestada:alumno.pk %}
		<span title="respondida" class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
	{% else %}
		<span title="Sin responder" class="label label-warning"><span class="glyphicon glyphicon-minus"></span></span>
	{% endif %}
{%endblock%}