{% extends "admin/coevaluaciones/coevaluacion_template_base.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls coevaluaciones_tags%}

{% block content %}
  	
{%block mensajes-resultados%}
{%endblock%}
<div class="row">
  <div class="btn-group pull-right ">
    <button style="margin:0 15px 5px;"  type="button" class="btn btn-default pull-right dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-file"></span> Resultados de la coevaluación <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{%url 'admin_coevaluaciones:coevaluacion_importar' coevaluacion.pk%}"><span class="glyphicon glyphicon-upload"></span> Subir</a></li>
        <li><a href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor_descargar' coevaluacion.pk%}"><span class="glyphicon glyphicon-download"></span> Descargar</a></li>
    </ul>
  </div>

<p>Estos son los resultados:</p>
<p>Coevaluación: {{coevaluacion.nombre}} </p>
<p>Curso: {{coevaluacion.curso.nombre}} - {{coevaluacion.curso.semestre}}</p>
<p>Profesor: {{coevaluacion.curso.profesor.first_name}} {{coevaluacion.curso.profesor.last_name}}</p>
</div>
  {% for grupo in coevaluacion.curso.grupo_set.all%}
   <div class="panel panel-default">
     <div class="panel-heading">{{grupo}}
     <a href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor_grupo' coevaluacion.pk grupo.pk %}"class="btn btn-primary btn-xs pull-right">Ver resultados</a>

     <a style="margin:0 5px;" href="{%url 'admin_coevaluaciones:coevaluacion_resultados_profesor_descargar_grupo' coevaluacion.pk grupo.pk %}" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-download"></span> Resultados del grupo</a>
     </div>
     <div class="panel-body">
        <table class="table">
          <thead>
            <th>Alumno</th>
            <th class="text-right">Promedio preguntas</th>
            <th class="text-right">Pregunta Clave</th>
            </thead>
          {%for alumno in grupo.alumnos.all%}
          <tr>
            <td>
            {%block alumno%}
              {%block extra-alumno%}
                {% if coevaluacion|contestada:alumno.pk %}
                  <span title="respondida" class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                {% else %}
                  <span title="Sin responder" class="label label-warning"><span class="glyphicon glyphicon-minus"></span></span>
                {% endif %}
              {%endblock%}
              {{alumno.first_name}} {{alumno.last_name}}

            {%endblock%}
            </td>
            <td class="text-right">
            {{alumno|get_promedio_preguntas:coevaluacion.pk}}</td>
             <td class="text-right">
            {{alumno|get_promedio_pregunta_clave:coevaluacion.pk}}</td>
          </tr>
          {% endfor %}
        </table>
     </div>

   </div>
  {% endfor %}
  </div>

{% endblock %}