{% extends "base_bootstrap.html" %}
{% load i18n admin_static admin_list widget_tweaks%}
{% load url from future %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}library/css/home.css" />
{% endblock %}
{% block title %}
Coevaluaciones - Inicio
{%endblock%}

{% block nav-global %}
        <ul class="nav nav-pills pull-right">
	      {%if rol == "profesor" %}
          <li class="active"><a href="{%url 'admin_coevaluaciones:ver_coevaluaciones_profesor'%}">Coevaluaciones</a></li>
          <li><a href="{% url 'admin_cursos:ver_cursos_profesor'%}">Cursos</a></li>
          {%else%}
          <li class="active"><a href="{%url 'admin_coevaluaciones:ver_coevaluaciones_alumno'%}">Coevaluaciones</a></li>
          <li><a href="{% url 'admin_cursos:ver_cursos_alumno'%}">Cursos</a></li>
          {%endif%}
          <li class="dropdown">
            <a id="drop6" role="button" data-toggle="dropdown" href="#">{{usuario.first_name}} {{usuario.last_name}}<b class="caret"></b></a>
              <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'admin_cursos:cambiar_clave' usuario.pk%}">Cambiar Contraseña</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{%url 'logout'%}">Cerrar sesión</a></li>
              </ul>
        </li>
    </ul>
    <h3 class="text-muted">Coevaluaciones</h3>
{% endblock %}

{%block content%}


<h3>Contraseña</h3>
<p>Cambie su contraseña</p>
		{%for error in form.non_field_errors%}
			<div class="alert alert-danger">{{error}}</div>
		{%endfor%}
		<form role="form" action="" method="post">{% csrf_token %}
		  <div class="form-group">
		    {{form.old_password.label_tag}}
		    {% render_field form.old_password class+="form-control" %}
		    <span class="help-block">{{form.old_password.errors}}</span>
		  </div>
		  <div class="form-group">
		    {{form.password.label_tag}}
		    {% render_field form.password class+="form-control" %}
		    <span class="help-block">{{form.password.errors}}</span>
		  </div>
		  <div class="form-group">
		    {{form.confirm_password.label_tag}}
		    {% render_field form.confirm_password class+="form-control" %}
		    <span class="help-block">{{form.confirm_password.errors}}</span>

		  </div>
		  <p><button class="btn btn-primary" type="submit">Guardar</button></p>
		</form>
{%endblock%}
